@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 2
   
   Author:   
   Date:       
   
   Filename: wc_styles.css

   This file contains the layout styles and media
   queries used with sample pages from the Willet
   Creek Golf Course website.

*/


/* Import Design Styles */

@media only screen {
	@import url(wc_designs.css);
}

/* Flex Layout Styles */

body {
	display: -webkit-flex;
	display: flex;
	
	=webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

ul#hole_list {
	-webkit-flex: 1 3 140px;
	flex: 1 3 140px;
}

ul.article {
	display: webkit-flex;
	display: flex;
	flex: 3 1 341px;
	flex-flow: row wrap;
}

section#stats {
	-webkit-flex: 1 4 120px;
	flex: 1 4 120px;
}

section#summary {
	display: -webkit-flex;
	display: flex;
	-webkit-flex=flow: row wrap;
	flex-flow: row wrap;
}

aside {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

div.aside {
	-webkit-flex: 1 1 180px;
	flex: 1 1 180px;
}

/* =============================
	Mobile Styles: 0 - 480 pixels
   =============================
*/

@media only screen and (max-width: 480px) {
	nav#hole_list {
		-webkit-order: 99;
		order: 99;
	}
	
	footer {
		-webkit-order: 100;
		order: 100;
	}
	
	nav.horizontal ul {
		display: none;
	}
	
	a#navicon:hover+ul, nav.horizontal ul:hover {
		display: block;
	}
	aside {
		display: none;
	}
}


/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/

@media all screen and (min-width: 481px) {
	a#navicon {
		display: none;
	}
	
	nav.horizontal ul {
		-webkit-flex-wrap: row;
		-webkit-flex: 1 1 auto;
		flex-wrap: row;
		flex: 1 1 auto;
	}
