div.feedback {
	-webkit-font-family: 'Indie Flower', cursive;
	-moz-font-family: 'Indie Flower', cursive;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	display: block;
	resize: none;
	width: 33.33%;
	height: auto;
	float: left;
}

div.contribute {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	display: block;
	resize: none;
	width: 500px;
	height: auto;
	float: left;
}

fieldset.cardNum {
	border: none;
	padding: -10px;
}

label.creditcard {
	width: 30%;
	float: left;
}

div.csv {
	float: left;
}

select.cardMonth {
	width: 55%;
	/* margin: 25%; */
}
select.cardYear {
	width: 80px;
	/* margin: 25%; */
}

i.ccIcon {
	size: 1000px;
	float: right;
}

img.cardImage {
	display: block;
	float: right;
	padding-left: 60px;
	padding-bottom: 5px;
	padding-right: -250px;
}

input.creditcard_box {
	width: 100%;
	float: left;
}

div.feedback_box {
	resize: 50, 50;
}

input[type=text] {
	background-color: lightorange;
	background-image: url(assets\img\pencil.gif);
}

input[type=text]:focus {
	background-color: lightblue;
}

/* Peridot_Gem_Standard */
/* Garnet_ruby_gem_day */

/* input:focus:valid:not([type="text"]) { */
	/* background: rgb(215, 255, 255) url(assets\img\Peridot_Gem_Standard.png) / contain no-repeat; */
/* } */

/* input:focus:invalid:not([type="text"]) { */
	/* background: rgb(215, 245, 215) url(assets\img\Garnet_ruby_gem_day.png) / contain no-repeat; */
/* } */

input:focus, select:focus, textarea:focus {
	background-color: rgb(220, 255, 220);
}

input:focus:valid {
	background: rgb(153, 204, 0) url(assets\img\valid.png) bottom right/contain no-repeat;
}

input:focus:invalid {
	background: rgb(255, 102, 0) url(assets\img\valid.png) bottom right/contain no-repeat;
}
/* input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { */
	/* -webkit-appearance: none; */
/* } */


input.creditcard_box {
	size: 4;
}

/* form { */
	/* > input[type="text"], */
	/* > input[type="email"], */
	/* > input[type="password"], */
	/* > input[type="number"] { */
		/* /* // show success! */ */
			/* &:valid { */
				/* background: url(assets\img\Peridot_Gem_Standard.png); */
				/* background-size: 20px; */
				/* background-repeat: no-repeat; */
				/* background-position: 20px 20px; */
				
				/* /* // continue to hide the label */ */
				/* & + label { */
					/* opacity: 0; */
				/* } */
			/* } */
		/* } */
	/* } */
/* } */