div.main {
	border: blue;
}

img.Bubble_Buddies_BG_4 {
	size: 5%;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* div.main > aside{ */
	/* float: right; */
/* } */

aside.info {
	-webkit-font-family: 'Indie Flower', cursive;
	-moz-font-family: 'Indie Flower', cursive;
	font-family: 'Indie Flower', cursive;
	display: block;
}
