aside {
	padding-right: 20px;
	padding-left: 30px;
}

aside.info {
	-webkit-font-family: 'Indie Flower', cursive;
	-moz-font-family: 'Indie Flower', cursive;
	font-family: 'Indie Flower', cursive;
	display: block;
}

/* div.main > aside.info > img.red_wave_line { */
	/* width: 15%; */
	/* height: auto; */
/* } */

div.main > h1 {
	-webkit-font-family: 'Indie Flower', cursive;
	-moz-font-family: 'Indie Flower', cursive;
	font-family: 'Indie Flower', cursive;
	padding-left: 50px;
}

div.imgmain {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}