table.calander {
	margin-left: 25px;
	padding-left: 64px;
}

dt.placeholder {
	display: 0;
	color: red;
}

h5.placeholder {
	display: 0;
	color: red;
}

td.placeholder {
	display: 0;
	color: red;
}

/* td.monthTitle { */
	/* width: 10%; */
/* } */

tr.eventTitle > td.eventTitle {
	
}