html {
	overflow: hidden;
}

#content browser {
	margin-right: -14px !important!
	overflow-y: scroll;
	overflow-x: hidden;
}

#element::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

::scrollbar {
	display: none;
}

h1.redesigned {
	font-family: 'Indie Flower', cursive;
}

p.redesigned {
	font-family: 'Indie Flower', cursive;
}

div.redesigned {
	font-family: 'Indie Flower', cursive;
	overflow: hidden;
}

img.steven_jumping {
	padding-bottom: 100;
}